/* Define irish as a custom font (for headers) */
@font-face {
    font-family: irish;
    src: url('fonts/IrishUncialfabeta-Bold.ttf');
}

/* Navigation bar in the header */
.navbar {
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    overflow: auto;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: white;
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14pt;
    padding: 8px 16px;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: black;
    background-color: #47CC54;
}

/* Default page text style */
html, body {
    /* Roboto is from Google fonts, should be included in each individual page
    by linking stylesheet at https://fonts.googleapis.com/css?family=Roboto */
    font-family: Roboto, sans-serif;
    background-image: url('../images/bgtile.png');
    color: #222222;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

div.header {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.75);
}

div.footer {
    color: #EEEEEE;
    font-size: 8pt;
    height: 16px;
    width: 100%;
    bottom: 0;
}

.small {
    font-size: 10pt;
    color: #555555;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
}

/* Use when the headers are getting too far away from the text */
.nospc {
    padding: 0;
    margin: 0;
}

#title {
    font-family: irish, Roboto, sans-serif;
    font-size: 48pt;
    text-shadow: 0 0 12px #AFFF6E;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

div.main {
    padding: 16px 16px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    min-height: 50%;
    height: auto !important;
    overflow: auto;
    width: 75%;
    background-color: rgba(238, 238, 238, 0.8);
    border: 3px solid #222222;
    padding: 1px 16px;
}

h1 {
    font-family: irish, Roboto, sans-serif;
    font-weight: bold;
    font-size: 32pt;
    
    /* Only works in chrome/safari, but will improve appearance of font */
    -webkit-font-smoothing: antialiased;
}

/* Link styling */
a, a:visited {
    color: #007F0E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #47CC54;
}

/* For the circular profile pictures */
img.profile {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    float: left;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-left: 8px;
    box-shadow: 2px 2px 2px #222222;
}

img.smprofile {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    float: left;
    margin: 8px 12px 8px 8px;
    box-shadow: 2px 2px 2px #222222;
}

/* Profile List */
ul.proflist {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ul.proflist li {
    font-weight: bold;
    display: inline-block;
    min-width: 20%;
    height: 64px;
    line-height: 64px; /*vertically center text*/
    margin: 4px;
    padding: 8px;
}

ul.proflist li a {
    display: block;
    height: 100%;
    width: 100%;
}

ul.proflist li a:hover {
    background-color: #BBBBBB;
    text-decoration: none;
}